name: Hello world workflow

off:
  push:
    branches:
      - main
  pull_request:
    branches:
      - dev
  workflow_dispatch:

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Hello world
        run: echo "Hello world"
        shell: bash

  goodbye:
    runs-on: ubuntu-latest
    steps:


      - name: Goodbye world
        run: echo "Goodbye world"
        shell: bash

  job3:
    runs-on: ubuntu-latest
    steps:
 
      - name: Job3
        run: echo "Job3"
        shell: bash

  job4:
    runs-on: ubuntu-latest
    steps:
 
      - name: Job4
        run: echo "Job4"
        shell: bash     

  job5:

    runs-on: ubuntu-latest
    steps:
 
      - name: Job5
        run: echo "Job5"
        shell: bash




