name: Create a comment on new issues

on:
  issues:
    types: [opened]
jobs:
  comment-with-action:
    runs-on: ubuntu-latest
    steps: 
     - name: "dump github context"
       run: echo '${{ toJson(github) }}' | jq
       shell: bash

      
      
      
